PORT=3000
DATABASE_URL="mongodb://127.0.0.1:27018/E-commers?replicaSet=rs0&directConnection=true"
JWT_ACCESS_SECRET="temp_E-comerce"
JWT_REFRESH_SECRET="main_E-comerce"
GOOGLE_CLIENT_ID=your_google_client_id
CLIENT_URL=http://localhost:5173
